@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap");
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
	--font-sans: "Google Sans Flex", sans-serif;
}
